html {
    scroll-behavior: smooth;
}


body {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  color: #333333;
  font-family: 'Amatic SC', cursive;
}

/* Navbar */
.logo_image {
    width: 50%; 
    padding-left: 20px;
}

.navbar {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1; 
}

.navbar {
    background-color: white;
 
}


.navbar-nav .nav-link {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin: 10px 10px;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link.active {
    border-bottom: 1px solid #ffffff;
    color: #ffffff; 
}

.navbar-light .navbar-nav .nav-link {
    color: #DC3545;
    font-family: 'Amatic SC', cursive;
    font-size: 160%;
    /* font-family: 'Dancing Script', cursive; */
}

.navbar-expand-lg {
    padding-top: 0px;
    padding-bottom: 0px;
}

nav a {
    font-size: 1.2em;
}
        
/* Intro */

.introduction-container {
    height: 100vh;
    background: url("../images/heading2.jpg") no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4)
}

/* Jumbotron */
.jumbotron {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 21.41%, rgba(255, 255, 255, 0.8) 78.6%, rgba(255, 255, 255, 0) 100%);
        max-width: 600px;
        margin: 15px auto;
}

.jumbotron-header {
    font-size:xxx-large;
}

.jumbotron-paragraph {
    font-size:xx-large;
}

/* Intro separator */

.intro-separator {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 1.5px solid rgb(15 15 11 / 47%);
    width: 30%;
}

/* Divider */

.divider {
    margin: auto;
}

.divider-picture {
    display: flex;
    margin: 20px auto;
}

/* Intro */

#middle .container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.picture2 {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;

}





/* Activity container */

.activity-container {
    background-color: #ddd;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: #333333;
    padding-top: 50px;

}
    
.activity-container .container {
    background: white;
    padding: 20px;
    border: 6px solid #ddd;
    border-radius: 4px;
    margin-top: 50px;
    margin-bottom: 150px;
    
} 


.activity-picture {
    width:100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.activity-list > * {
 transition: all .5s ease-in-out;
}

.activity-list > *:hover {
    transform: scale(1.1);
}

.activity-heading {
    font-family: "Raleway", sans-serif;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: white;
    font-size: 50px;
}
.act-list-heading {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 23px;
    color: #DC3545;
}


/* Footer */

footer {
    background: grey;
    color: white;
    height: 50px;
    margin-top: -50px;
    z-index: 1;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
}

footer p {
    text-align: right;
    padding-top: 15px;
    margin-bottom: 0;
}

.blockquote-footer {
    background: none;
    margin-top: 0px;
}



/* GALLERY.HTML */

.holder-container {
    margin: 30px 100px;
    background: #f1fffe;
    height: 380px;
    overflow-x: scroll;
    padding-top: 30px;
    padding-bottom: 30px;
}

.food-container {
    margin: 30px 100px;
    background: #faf5bf;
    height: 380px;
    overflow-x: scroll;
    padding-top: 30px;
    padding-bottom: 30px;
}

.heading-gallery-container {
    margin: 30px 50px;
    text-align: center;
    padding-top: 30px;
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

iframe {
   float: left;
   width: 100%;
}

